[Main]
ROUTER_PIN_INT = 17
MODEM_PIN_INT = 27
BUTTON_PIN_INT = 18
BUZZER_PIN_INT = 23
NORMAL_LED_PIN_INT = 20
SLOW_LED_PIN_INT = 16
REBOOTING_LED_PIN_INT = 21
SLOW_SPEED_INT = 10
CHECK_INTERVAL_MINUTES_INT = 15
CHECK_INTERVAL_MINUTES_AFTER_LOW_INT = 1
MANUAL_REBOOT_SECONDS_INT = 5
REBOOT_DELAY_SECONDS_INT = 10
ROUTER_DELAY_SECONDS_INT = 10
QUIET_HOURS_RANGE_INTLIST = [22, 8]

[Notifications]
EMAILS_TO_STRLIST = a@example.com,b@example.com
EMAIL_FROM_STR = from@example.com
EMAIL_PASSWORD_STR = from-password
